@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Prevent horizontal scroll on mobile */
html, body {
  overflow-x: hidden;
}


/* glowing text */
.glow {
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
}

@keyframes pulse-glow {
  0%, 100% {
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;
  }
  50% {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
  }
}

.glow-animate {
  animation: pulse-glow 2s infinite;
}
